<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.telnyx.meet">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.MICROPHONE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:name = "com.telnyx.meet.App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TelnyxAndroidVideoSDK">

        <meta-data android:name="com.bugsnag.android.APP_TYPE"
            android:value="app"/>
        <meta-data android:name="com.bugsnag.android.SEND_THREADS"
            android:value="ALWAYS"/>
        <meta-data
            android:name="com.bugsnag.android.API_KEY"
            android:value="84e255ab1913d7b1fe4a825e531d217f"/>

        <activity android:name="com.telnyx.meet.ui.SplashScreenActivity"
            android:theme="@style/SplashScreenTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.telnyx.meet.ui.ManageRoomActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
    </application>

</manifest>